/* - =======================
	RESET CSS - overwrie default page
 ======================= - */

 *, ::after, ::before {
	box-sizing: border-box;
}

/* - ===== This is the font I used for the Headings on my porfolio ==== - */
body {
	font-family: 'Neue Haas Grotesk Display Pro 45 Light';
	font-weight: normal;
	color: #212529;
	line-height: 1.5;
	text-align: left;
	background-color: #fff;
	font-size: 18px;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	margin-top: 0;
	font-weight: 500;
	line-height: 1.2;
}
h3 {
	font-size: 1.75rem;
}

/* - ===== This is the font I used for the body text on my porfolio==== - */
h1, h2, h3 {
	font-family: 'Neue Haas Grotesk Display Pro 55 Roman';
}
a {
	color: #212529;
	text-decoration: none;
	background-color: transparent;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}
.container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1140px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.row-block {
	display: flex;
	flex-wrap: wrap;
}
button, input, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
/* - =======================
	THIS DESGINS THE HOME PAGE
 ======================= - */

.home-header {
	position: relative;
}
.home-header img {
	min-height: 250px;
	object-fit: cover;
	width: 100%;
}

/* - ===== This designs the explore button on the header of the homepage==== - */
.explore-link {
	position: absolute;
	top: 60%;
	left: 6%;
	font-weight: 600;
	display: inline-block;
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
	border-radius: 50rem;
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	text-align: center;
}
.home-body {
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}
.home-body .category {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 3rem;
}
.home-body .about-us {
	margin-top: 3rem;
}
.home-body h2 {
	text-transform: uppercase;
	font-size: 1.7rem;
	display: inline-block;
	border-bottom: 3px solid;
}
.home-body ul li a {
	font-size: 18px;
	color: inherit;
	padding: 3px 0;
	display: inline-block;
}
.home-body ul {
	margin-bottom: 10px;
}
.about-us {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}
.about-us p {
	font-size: 18px;
}

/* - ===== This designs the buttons and also the animation on the buttons==== - */
.btn-custom1 {
	background-color: #6B6B6B;
	display: inline-block;
	text-align: center;
	border-radius: 7px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	color: #fff;
	padding: .475rem .85rem;
	font-size: 1rem;
	border: 2px solid;
	transition: background-color .5s ease, box-shadow .5s ease;
}
.btn-custom1:hover {
	color: #fff;
	background-color: #5a6268;
	box-shadow: 0px 0px 6px #5a6268;
	border-color: #fff;
}
img {
	max-width: 100%;
	height: auto;
}
/* - =======================
	THIS DESIGNS THE SERVICE PAGE 
 ======================= - */

.service-header {
	margin-bottom: 3rem;
}
.service-body .row-block {
	margin-bottom: 3rem;
	margin-left: -15px;
	margin-right: -15px;
}
.service-body .content-block {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.service-body .image-block {
	padding-left: 15px;
	padding-right: 15px;
}
.service-body .content-block h3 {
	display: inline-block;
	border-bottom: 3px solid;
}
.service-body .content-block p {
	font-size: 1rem;
	text-align: left;
	line-height: 28px;
}
.service-body .image-block {
	margin-bottom: 20px;
}
.service-header img {
	min-height: 200px;
	object-fit: cover;
}
/* - =======================
	THIS DESIGNS THE PORTFOLIO PAGE
 ======================= - */

.portfolio-header {
	margin-bottom: 3rem;
}
.portfolio-header img {
	min-height: 200px;
	object-fit: cover;
}
.portfolio-holder .row-block {
	margin-bottom: 1.5rem;
	margin-left: -15px;
	margin-right: -15px;
}
.portfolio-holder .title-block {
	flex: 0 0 100%;
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.portfolio-holder .wd-holder, .portfolio-holder .ecom-holder {
	margin-left: -15px;
	margin-right: -15px;
}
.portfolio-holder .wd-holder .wd-block, .portfolio-holder .ecom-holder .ecom-block {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.portfolio-holder h2 {
	font-size: 1.7rem;
	border-bottom: 3px solid;
	display: inline-block;
	margin-bottom: 30px;
}
.portfolio-holder .card {
	padding: 35px;
	margin-bottom: 30px;
	border-radius: .25rem;
	border: 1px solid #707070;
	text-align: center;
	background-color: #fff;
}
.portfolio-holder .card ul {
	list-style: inherit;
	padding-left: 20px;
	margin-bottom: 0;
	text-align: left;
}
.portfolio-holder .card h4 {
	font-size: 1.3rem;
}
.portfolio-holder .card h5 {
	font-size: 1.1rem;
	margin-bottom: 20px;
}
.portfolio-holder .inner-item img {
	margin-bottom: 30px;
}
.portfolio-holder .photography-block div {
	flex: 0 0 50%;
	max-width: 50%;
	padding-left: 15px;
	padding-right: 15px;
}
.portfolio-holder .gd-holder .gd-block {
	padding-left: 15px;
	padding-right: 15px;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	margin-bottom: 1.5rem;
}
/* - =======================
	THIS DESIGNS THE CONTACT PAGE
 ======================= - */

.contact-header {
	position: relative;
	margin-bottom: 3rem;
}
.contact-header h1 {
	position: absolute;
	color: #fff;
	bottom: 0;
	margin-bottom: 27px;
	width: 100%;
	text-align: center;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2.5rem;
}
.contact-us .contact-right {
	margin-bottom: 50px;
}
.contact-header img {
	min-height: 200px;
	object-fit: cover;
}
.contact-us .left-content {
	width: 100%;
}
.contact-us .right-content {
	display: none;
}
.contact-us form {
	margin-bottom: 50px;
}
.contact-us form .form-item {
	margin-bottom: 1rem;
}
.contact-us form .form-item input {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	border: 1px solid #707070;
	background-color: #fff;
	color: #495057;
	border-radius: .25rem;
}
.contact-us form .form-item textarea {
	height: auto;
	border-color: #707070;
	width: 100%;
	border-radius: .25rem;
	font-size: 1rem;
	padding: .375rem .75rem;
}
.contact-us .contact-right a {
	color: inherit;
}
.contact-us .contact-right a:hover {
	text-decoration: underline;
}
.contact-us .contact-right p {
	margin-bottom: 5px;
	font-size: 20px;
}
/* - =======================
	THIS DESIGNS THE ABOUT PAGE
 ======================= - */

.about-header {
	margin-bottom: 3rem;
}
.about-holder {
	padding: 0 1rem 28rem;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}
.about-holder h1 {
	font-size: 2.5rem;
	margin-bottom: 55px;
	text-transform: uppercase;
	border-bottom: 3px solid;
	display: inline-block;
}
.about-holder p {
	font-size: 27px;
}
.about-header img {
	min-height: 200px;
	object-fit: cover;
}
/* This designs the Footer */

footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #6c757d;
	text-align: center;
}
.footer-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
footer .left {
	width: 100%;
}
footer p {
	color: #fff;
	margin-bottom: 15px;
}
footer .right ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
}
/* ===========================
CSS for Responsive Design
======================== */

/* Media Querries For  Devices */

@media(min-width:768px) {
	.container {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.home-body .category {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.contact-us {
		padding-bottom: 20rem;
	}
	.about-holder p {
		text-align: left;
	}
	.service-body .image-block {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.block-order-1 {
		order: 1;
	}
	.block-order-2 {
		order: 2;
	}
	.service-body .content-block {
		text-align: left;
		flex: 0 0 50%;
		max-width: 50%;
	}
	footer .left, footer .right {
		flex: 0 0 50%;
		max-width: 50%;
	}
	footer p {
		text-align-last: left;
		margin-bottom: 0;
	}
	footer .right ul {
		justify-content: flex-end;
	}
	.portfolio-holder .wd-holder .wd-block, .portfolio-holder .ecom-holder .ecom-block {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.portfolio-holder .photography-block div {
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.contact-us .left-content {
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.contact-us .right-content {
		display: block;
	}
}
/* Media Queries For Small Desktop And Above */

@media(min-width:992px) {
	.home-body .category {
		flex: 0 0 25%;
		max-width: 25%;
		margin-left: 8.333%;
		margin-bottom: 0;
	}
	.service-body .content-block {
		padding-right: 5rem;
	}
	.portfolio-holder .photography-block div {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.portfolio-holder .gd-holder .gd-block {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.contact-us .left-content, .contact-us .right-content {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.contact-us .right-content {
		padding-left: 5rem;
	}
}