/* ============ Reset CSS =========== */
* {
  box-sizing: border-box;
}

/* ============ this is for the fonts of the webpage =========== */
body {
  font-family: "Cardo", serif;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

/* ============ this styles the images on the pages =========== */
img {
  max-width: 100%;
  display: block;
  height: auto;

  
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: arial;
  margin-top: 0;
  font-weight: normal;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ============ this is for the animation on the button  =========== */
button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.25s ease;
}

input[type="submit"] {
  transition: 0.25s ease;
}

a {
  text-decoration: none;
}
input:focus {
  outline: 0;
}
/* ============ Main css =========== */

main {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
}

/* ============ Header =========== */
header {
  background-color: #fcb116;
  text-align: center;
  padding: 15px;
}

/* ============ Main Block =========== */

h2 {
  margin-bottom: 1.2rem;
}

p {
  margin-bottom: 1.2rem;
  margin-top: 0;
}

.site-logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100px;
}

/* Block Four */
.block-four {
  display: flex;
  flex-wrap: wrap;
}

.block {
  padding: 0 20px;
  margin-bottom: 50px;
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
}

/* Remove padding from first block */
.block.first-block {
  position: relative;
  padding: 0;
}

.block p {
  margin-bottom: 2rem;
}

.block button {
  background-color: #dfca2e;
  color: #fff;
  width: 153px;
  font-size: 17px;
  padding: 6px 0;
  color: #000;
  border-radius: 5px;
  border: 1px solid transparent;
}

.block button:hover {
  border: 1px solid #dfca2e;
  background-color: #fff;
}

/* ============ Select Your Choice =========== */
.selectchoice-holder {
  color: #717171;
}
.selectchoice-inner {
  padding: 2rem 1.2rem;
}

.selectchoice-inner ul {
  list-style: decimal;
  padding-left: 20px;
}

.selectchoice-inner ul li {
  margin-bottom: 1rem;
}

.selectchoice-inner h2 {
  margin-top: 2rem;
  text-align: center;
}

/* ============ Select Icecream =========== */
.select-icecream {
  color: #6f6f6f;
  font-family: arial;
}

.select-icecream ul {
  column-count: 2;

  padding: 2rem 1.2rem;
}

.select-icecream ul li a {
  color: #000;
}

.select-icecream ul li a:hover {
  text-decoration: underline;
}

/* ============ Contact us =========== */
.contact-us-holder {
  color: #717171;
}
.contact-us-holder h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-us-holder {
  padding: 4rem 1.2rem;
}

.form-holder h3 {
  font-size: 1.4rem;
  margin-bottom: 0;
  text-transform: inherit;
  font-family: "Cardo", serif;
}

.form-holder form {
  border: 1px solid #ccc;
  padding: 1.5rem;
}

.input-box {
  margin-bottom: 1.3rem;
}

.input-box input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0.7rem 1rem 0.7rem 0;
  font-size: inherit;
  font-family: inherit;
}

.input-box input:focus,
.input-box textarea:focus {
  border-color: #000;
}

.input-box label {
  display: block;
  margin-bottom: 0.3rem;
}

.input-box textarea {
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: inherit;
  font-family: inherit;
  outline: 0;
}

.input-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-holder form input[type="submit"] {
  background: #c54538;
  border: 0;
  color: #fff;
  font-weight: 700;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border: 1px solid transparent;
}
.form-holder form input[type="submit"]:hover {
  border-color: #c54538;
  background: #fff;
  color: #c54538;
}

/* ============ Footer Style =========== */

/* footer */
footer {
  background-color: #050505;
}

.footer-holder {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 0px;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-col {
  padding: 1rem 0px;
}

.footer-col h4 {
  color: #e0c92a;
  margin-bottom: 0;
}

.footer-col ul li a {
  color: #e0c92a;
  text-decoration: none;
  padding: 0.3rem 0.3rem 0.3rem 0;
  display: inline-block;
}
.footer-col ul li a:hover {
  color: #fcb116;
}
/* subscribe */
.subscribe {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
}

.subscribe input[type="submit"] {
  background-color: #fff;
  border: 0;
  padding: 0.3rem 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}
.subscribe input[type="submit"]:hover {
  opacity: 0.9;
}

.subscribe input[type="email"] {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
}

/* ============ Media Query =========== */

/* This CSS for tablet and upper devices */

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .site-logo {
    max-width: 140px;
  }
  .block {
    padding: 6%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .footer-holder {
    text-align: left;

    flex-direction: row;
  }
  .footer-col {
    flex: 0 0 33.33%;
    max-width: 33%;
  }
  .select-icecream ul {
    column-count: 4;
  }
  .form-holder form {
    padding: 3.5rem;
  }
}
